.cadastroEvento-container {
    margin-top: 30px;
    width: 100%;
    justify-self: center;
    max-width: 550px;
    margin: 100px;
    background-image: linear-gradient(to top, rgb(209, 147, 238), rgb(233, 186, 243));
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px;
    font-family: Arial;
}

.cadastroEvento-container h2 {
    color:black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(207, 170, 231), 0 0 5px rgb(222, 122, 231);
}

.form-evento {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: right;
}

.form-evento label {
    font-weight: bold;
    color:rgb(0, 0, 0);
    text-align: left;
    font-size: 16px;
}

.form-evento input {
    padding: 12px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; 
}
.botoes{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-voltar, .btn-salvar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.btn-salvar:hover{
    background-color: rgb(255, 255, 255);
    transform: translateY(-1px);
}

.btn-voltar:hover{
    background-color: rgb(255, 255, 255);
    transform: translateY(-1px);
    
}